
body{
  margin:0px;
}
.technology-v1 {
   height:90vh;
    padding-bottom: 120px;
    padding-top: 170px;
    background-image: url('/images/relationship.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile{
  display: none;
}
.illusion{
/* margin: 0 -130px 0 -33px; */
margin:40px 40px 40px 50px;
}
.align-self-center {
  align-self: center !important;
}
.text-center {
  text-align: center !important;
}
.ot-heading {
  margin-bottom: 15px;
}
.bigger-text{
  font-size: 50px;
    font-weight: 800;
    margin-left: 30px;
    margin-top: 0px;
    color: #7141b1;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
}
@media (max-width: 992px) {
.illusion {
    margin: 0;
  }
  .mobile{
    display: none;
  }
    .desktop {
      display: none;
    }
}
.ot-heading>span {
  font-size: 20px;
  font-weight: 800;
  color: #7141b1;
  position: relative;
  display: inline-block;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.ot-heading h2 {
  margin-bottom: 10px;
  line-height: 48px;
  font-weight: bolder;
}

@media (max-width: 767px) {
  .ot-heading>span {
    font-size: 12px;
  }
  .desktop{
    display: none;
  }
  .bigger-text{
    font-size: 40px;
  }

  .ot-heading h2 {
    font-size: 27px;
    line-height: 38px;
  }

    .text-white span {
      font-size: 60px;
    }
        .mobile {
          display: block;
        }
        .view{
        font-size: 15px;
        }
}

@media (max-width: 600px) {
  .mobile {
      display: block;
    }
        .desktop {
          display: none;
        }
  .ot-heading h2 br {
    display: none;
  }
    .text-white span {
      font-size: 50px;
    }
        .illusion {
          /* margin: 0 -130px 0 -33px; */
          margin: 0;
        }
}
.text-white span,
.text-white h2 {
  color: #fff;
}
.text-center {
  text-align: center;
}
.text-white span{
  font-size:80px;
}

.text-container {
  position: absolute;
  margin-top: 160px;
  top: 40;
  left: 50%;
  transform: translateX(-50%);
  animation: moveText 2s ease-in-out;
}

@keyframes moveText {
  0% {
    top: 0;
  }

  100% {
    top: 40%;
    transform: translate(-50%, -50%);
  }
}
.service-page {
  padding-top: 80px;
}

.apply-section{
padding-top: 20px;
margin-top: -70px;
}

.icon-box-s2 {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
}
.icon-box-s2.s1 .icon-main,
.icon-box-s2.s3 .icon-main {
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  float: left;
  text-align: center;
  line-height: 1;
  color: #7141b1;
}

.icon-box-s1 .icon-main {
  color: #7141b1;
}
.pb-60 {
  padding-bottom: 60px;
}

.form-class{
  padding: auto 40px auto 40px;
}
.footer-v1 {
  background-color: #201D3C;
  padding: 115px 0 50px 0;
  color: #AEAACB;
}
.widget-footer {
  margin-bottom: 30px;
}

.widget-footer h5 {
  margin-bottom: 30px;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.list-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.list-items li {
  padding-bottom: 8px;
  font-family: "Nunito Sans", Sans-serif;
  font-weight: 400;
  line-height: 1.86;
}

.list-items li:last-child {
  padding-bottom: 0;
}

.list-items a {
  color: #AEAACB;
  text-decoration: none;
}

.list-items a:hover {
  color: #fff;
}
.error-class{
  font-size: 12px;
  color:red;
}
.user{
  color:black;
  display: block;
  text-decoration: none;
}
/* Add this to your CSS */
.open-offcanvas {
  transform: translateX(0);
  /* Set the initial position to fully visible */
  visibility: visible;
  /* Ensure the offcanvas is visible initially */
  opacity: 1;
  /* Set the initial opacity to fully opaque */
}
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
    .user{
      font-size: 15px;
    }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-left: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  left: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       user-select: none;
     }
  
     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }
         .divider:after,
         .divider:before {
           content: "";
           flex: 1;
           height: 1px;
           background: #eee;
         }
    
         .h-custom {
           height: calc(100% - 73px);
         }
    
         @media (max-width: 450px) {
           .h-custom {
             height: 100%;
           }
         }
         